// Color
color-background = #fff
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #009CDC

// Font
font-default = 'DejaVu Serif', Georgia, Helvetica, "Helvetica Neue",Roboto,'Open Sans',Tahoma,Arial,"Droid Sans","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif

//code style
font-mono = Monaco, Menlo, Consolas, Courier New,'Microsoft Yahei'

font-title = 'DejaVu Serif', Helvetica, 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif

font-header = 'DejaVu Serif', Helvetica, 'Play',"Hiragino Sans GB",cursive,"Helvetica Neue","Droid Sans Fallback","Heiti SC",Simsun,sans-serif
font-serif = Georgia, "Times New Roman"

font-sans = 'DejaVu Serif', "Open Sans", Helvetica
font-icon = FontAwesome

// Width
page-width = 1200px

line-height = 400% 
font-size = 100%
